@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<p>
    @Html.ActionLink("Consulta 1", "consulta1", null, htmlAttributes: new { @class = "btn btn-primary" })
    @Html.ActionLink("Consulta 2", "consulta2", null, htmlAttributes: new { @class = "btn btn-primary" })
    @Html.ActionLink("Consulta 3", "consulta3", null, htmlAttributes: new { @class = "btn btn-primary" })
</p>
